#journeyButton {
    width: auto;
    height: auto;
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: rgb(12, 12, 12);
    font-size: 1.2rem;
    padding: 0.5rem;
    display: center;
    text-align: center;
  }
  #searchBar {
    width: 10%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1.2rem;
    text-align: left;
    float: right;
  }

  .noDataMessage {
    color: lightgrey;
    font-size: 2rem;
    text-align: center;
  }
  
  .generateGraph {
    border: 1px solid black;
    border-radius: 4px;
    float: right;
    padding: 0.5rem;
    margin-right: 5%;
    }

  button:hover {
    background-color: black;
    color: white;
  }
  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
  
  table {
    width: 90%; 
    margin: 2% auto; 
    border-collapse: collapse;
    margin-bottom: 1em;
    margin-top: 1em;
    border: 1px solid #ddd; 
  }  

  th, td {
    padding: 1rem;
    text-align: center;
    border: 1px solid #ddd; 
  }
  
  th {
    background-color: #f5f5f5;
    font-weight: bold;
  }
  
  tr:hover {
    background-color: #f9f9f9;
  }

  .errorMessage {
    color: red;
    font-size: 1.5em;
    text-align: center;
  }

  .sortable {
    cursor: pointer;
  }

  .sortable:hover {
    text-decoration: underline;
  }
  
  #pieChart {
    margin: 0 auto;
  }

  .monthSelect {
    margin-left: 5%;
  }

  .yearSelect {
    margin-left: auto;
  }

  #monthYearSelect {
    margin-left: 5%;
    margin-right: auto;
  }